.contactInfo {
	padding: 60px 0 30px;
	border-bottom: 1px solid #888a8c;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.contactInfo__item {
	flex-basis: 320px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;

	span {
		color: #888a8c;
		font: normal 16px/28px Roboto, sans-serif;
	}

	a {
		color: #888a8c;

		&:hover {
			color: $primary-color;
		}
	}
}

.contactInfo__item__icon {
	width: 70px;
	height: 70px;
	background: #4a4c4d;
	color: $primary-color;
	@include awesome-icon(34px);
	line-height: 70px;
	text-align: center;
	margin-right: 30px;
}