@import 'var.scss';

.header {
	position: relative;
	margin-top: 60px;
	overflow: auto;
	text-align: center;
	padding-top: 23px;
}


.header__logo {

	h1 {
		margin: 0;
		display: inline-block;
		font: bold 55px Roboto, sans-serif;
		color: $primary-color;
	}

	h3 {
		margin-left: 7px;
		display: inline-block;
	}
}

.header__phone {
	span {
		@include awesome-icon(34px);
		color: $primary-color;
		margin-right: 10px;
	}
}

@media screen and (min-width: 1000px) {

	.header__logo {
		float: left;
	}

	.header__phone {
		text-align: right;
		float: right;
	}

}


