@import 'var.scss';

$arrow-icon-size: 19px;

/* SLIDER */

.slider {
	position: relative;
}

.slider__slide {
	background: #f8f8f8 url("../images/page-1_slide01.jpg") no-repeat 20%;
	background-size: contain;
	height: 42vw;
	min-height: 350px;
	max-height: 632px;
}

.slider__text {
	position: absolute;
	font: normal 5vw Roboto, sans-serif;
	color: $primary-color;
	top: 30%;
	left: 50%;
}

.slider + .home-block1 .blueBoxes {
	position: relative;
	margin-top: -50px;
}

.home-block1, .home-block2 {
	max-width: 1190px;
	padding: 0 10px;
	margin: 0 auto;
}

/* BLUE BOXES */

.blueBoxes {
	display: flex;
	flex-wrap: wrap;
}

.blueBoxes__pair {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-basis: 500px;
	align-items: flex-end;
}

.blueBoxes__item {
	flex-grow: 1;
	flex-basis: 250px;
	padding: 30px;
	text-align: center;

	span, h3, p {
		color: white;
	}

	span {
		@include awesome-icon(62px);
	}
}

.blueBoxes__item--i1 {
	background: #57aacd;
} 

.blueBoxes__item--i2 {
	background:  #55b0d6;
}

.blueBoxes__item--i3 {
	background: #5bb7de;
}

.blueBoxes__item--i4 {
	background: #62bfe6;
}

.blueBoxes p::after {
	content: "";
	@include awesome-icon($arrow-icon-size);
	display: block;
	text-align: right;
	position: relative;
	top: 15px;
}


@media screen and (min-width: 520px) {
	.blueBoxes__item {
		text-align: left;
	}
}

@media screen and (min-width: 1020px) {
	.blueBoxes p::after {
		display: none;
	}

	.blueBoxes__item:hover {
		margin-top: -$arrow-icon-size;

		p::after {
			display: block;
		}
	}
}
