@import 'var.scss';

@import 'tileList.scss';

@import 'checkMarks.scss';

$col_padding: 15px;

$arrow-icon-size: 19px;


/* SLIDER */

.slider {
	z-index: -1;
	position: relative;
}

.slider__slide {
	background: #f8f8f8 url("../images/page-1_slide01.jpg") no-repeat 20%;
	background-size: contain;
	height: 42vw;
	min-height: 350px;
	max-height: 632px;
}

.slider__text {
	position: absolute;
	font: normal 5vw Roboto, sans-serif;
	color: $primary-color;
	top: 30%;
	left: 50%;
}

.slider + .home-block1 .blueBoxes {
	position: relative;
	margin-top: -50px;
}



/* BLUE BOXES */

.blueBoxes {
	display: flex;
	flex-wrap: wrap;
}

.blueBoxes__pair {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-basis: 500px;
	align-items: flex-end;
}

.blueBoxes__item {
	flex-grow: 1;
	flex-basis: 250px;
	padding: 30px;
	text-align: center;

	span, h3, p {
		color: white;
	}

	span {
		@include awesome-icon(62px);
	}
}

.blueBoxes__item--i1 {
	background: #57aacd;
} 

.blueBoxes__item--i2 {
	background:  #55b0d6;
}

.blueBoxes__item--i3 {
	background: #5bb7de;
}

.blueBoxes__item--i4 {
	background: #62bfe6;
}

.blueBoxes p::after {
	content: "";
	@include awesome-icon($arrow-icon-size);
	display: none;
	text-align: right;
	position: relative;
	top: 15px;
}

.blueBoxes__item:hover {
	margin-top: -$arrow-icon-size;

	p::after {
		display: block;
	}
}


@media screen and (min-width: 535px) {
	.blueBoxes__item {
		text-align: left;
	}
}

/* 	SECTION 2 */

	/*HELP CENTER*/

.help-center {
	background: $primary-color;
	padding: 1px 30px;

	margin: 30px 0;

	h2 {
		border-bottom: 1px solid white;
		margin: 0;
		padding: 20px 0;

		span {
			@include awesome-icon(50px);
		}
	}

	h3 {
		margin-bottom: 0;
	}

	h2,h3,p {
		color: white;
	}
}

.help-center-phone {
	padding-top: 20px;
	border-top: 1px solid white;
}

.help-center-phone + p {
	font-size: 16px;
}

.small-carousel {
	padding: 30px 15px;
	background: #f5f5f5;
	display: flex;
	flex-wrap: wrap;

	img {
		padding-bottom: 30px;
	}

	div {
		padding: 0 15px;

		&:last-child {
			flex-basis: 165px;
			flex-grow: 1;

			p {
				margin-top: 0;

				span {
					@include awesome-icon(34px);
					color: $primary-color;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.home-block2 {
		display: flex;
		margin: 0 (-$col_padding);
	}

	.home-block2__column {
		padding: 0 $col_padding;
		width: 33.333%;
	}

	.aboutPic {
		width: 100%;
	}
}