@charset "UTF-8";
.tileList {
  border-bottom: 3px solid #62bfe6; }

.tileList__item {
  text-align: center;
  padding: 50px 0; }

.tileList__item__icon {
  text-align: center;
  width: 100px;
  height: 100px;
  background: #62bfe6;
  margin: auto;
  font: normal 52px FontAwesome;
  line-height: 100px;
  color: white; }

.tileList__item__icon:hover {
  background: #57aacd; }

@media screen and (min-width: 768px) {
  .tileList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .tileList h3 {
      margin-top: 0; }
    .tileList p {
      margin-bottom: 0; }

  .tileList__item {
    overflow: auto;
    /* margin-right: 30px; */
    width: 48%;
    text-align: left;
    border-bottom: 1px solid #e5e5e5; }

  .tileList__item:last-child, .tileList__item:last-child(2) {
    border-bottom: 0; }

  .tileList__item__text {
    margin-left: 130px; }

  .tileList__item__icon {
    float: left; } }
.checkMarks li {
  padding: 17px 0 20px;
  border-top: 1px solid #e5e5e5; }
  .checkMarks li:first-child {
    border-top: 0; }
  .checkMarks li a {
    position: relative;
    display: inline-block;
    padding-left: 42px; }
    .checkMarks li a::before {
      position: absolute;
      left: 0;
      content: "";
      font: normal 22px FontAwesome;
      padding-right: 20px; }

/* SLIDER */
.slider {
  position: relative;
  height: 42vw;
  min-height: 350px;
  max-height: 632px; }

.slider__slide {
  background: #f8f8f8 no-repeat 20%;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  /* height: 42vw;
  min-height: 350px;
  max-height: 632px; */ }
  .slider__slide::after {
    /* content: "Helping with any of your business needs!"; */
    position: absolute;
    font: normal 5vw Roboto, sans-serif;
    color: #62bfe6;
    top: 30%;
    left: 50%; }

.slide1 {
  background-image: url("../images/page-1_slide01.jpg"); }
  .slide1::after {
    content: "Helping with any of your business needs!"; }

.slide2 {
  background-image: url("../images/page-1_slide02.jpg"); }
  .slide2::after {
    content: "The best strategies to attract new business"; }

.slide3 {
  background-image: url("../images/page-1_slide03.jpg"); }
  .slide3::after {
    content: "A wide range of global business information"; }

.slider + .home-block1 .blueBoxes {
  position: relative;
  margin-top: -50px; }

.slider-btn {
  position: absolute;
  font: normal 36px FontAwesome;
  top: 50%;
  color: #62bfe6;
  background: none;
  border: 0; }
  .slider-btn:hover {
    color: #434547; }

#prev-slide {
  left: 5%; }

#next-slide {
  right: 5%; }

/* BLUE BOXES */
.blueBoxes {
  display: flex;
  flex-wrap: wrap; }

.blueBoxes__pair {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 500px;
  align-items: flex-end; }

.blueBoxes__item {
  flex-grow: 1;
  flex-basis: 250px;
  padding: 30px;
  text-align: center; }
  .blueBoxes__item span, .blueBoxes__item h3, .blueBoxes__item p {
    color: white; }
  .blueBoxes__item span {
    font: normal 62px FontAwesome; }

.blueBoxes__pair:nth-child(1) .blueBoxes__item:nth-child(1) {
  background: #57aacd; }

.blueBoxes__pair:nth-child(1) .blueBoxes__item:nth-child(2) {
  background: #55b0d6; }

.blueBoxes__pair:nth-child(2) .blueBoxes__item:nth-child(1) {
  background: #5bb7de; }

.blueBoxes__pair:nth-child(2) .blueBoxes__item:nth-child(2) {
  background: #62bfe6; }

.blueBoxes p::after {
  content: "";
  font: normal 19px FontAwesome;
  display: none;
  text-align: right;
  position: relative;
  top: 15px; }

.blueBoxes__item:hover {
  margin-top: -19px; }
  .blueBoxes__item:hover p::after {
    display: block; }

@media screen and (min-width: 535px) {
  .blueBoxes__item {
    text-align: left; } }
/* 	SECTION 2 */
/*HELP CENTER*/
.help-center {
  background: #62bfe6;
  padding: 1px 30px;
  margin: 30px 0; }
  .help-center h2 {
    border-bottom: 1px solid white;
    margin: 0;
    padding: 20px 0; }
    .help-center h2 span {
      font: normal 50px FontAwesome; }
  .help-center h3 {
    margin-bottom: 0; }
  .help-center h2, .help-center h3, .help-center p {
    color: white; }

.help-center-phone {
  padding-top: 20px;
  border-top: 1px solid white; }

.help-center-phone + p {
  font-size: 16px; }

.small-carousel {
  padding: 30px 15px;
  background: #f5f5f5;
  display: flex;
  flex-wrap: wrap; }
  .small-carousel img {
    padding-bottom: 30px; }
  .small-carousel div {
    padding: 0 15px; }
    .small-carousel div:last-child {
      flex-basis: 165px;
      flex-grow: 1; }
      .small-carousel div:last-child p {
        margin-top: 0; }
        .small-carousel div:last-child p span {
          font: normal 34px FontAwesome;
          color: #62bfe6; }

@media screen and (min-width: 768px) {
  .home-block2 {
    display: flex;
    margin: 0 -15px; }

  .home-block2__column {
    padding: 0 15px;
    width: 33.333%; }

  .aboutPic {
    width: 100%; } }

/*# sourceMappingURL=home.css.map */
