@import "var.scss";

.tileList {
	border-bottom: 3px solid $primary-color;
}

.tileList__item {
	text-align: center;
	padding: 50px 0;
}

.tileList__item__icon {
	text-align: center;
	width: 100px;
	height: 100px;
	background: $primary-color;
	margin: auto;
	@include awesome-icon(52px);
	line-height: 100px;
	color: white;
}

.tileList__item__icon:hover {
	background: #57aacd;
}

@media screen and (min-width: 768px) {
	.tileList {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h3 {
			margin-top: 0;
		}

		p {
			margin-bottom: 0;
		}
	}

	.tileList__item {
		overflow: auto;
		width: 48%;
		text-align: left;
		border-bottom: 1px solid #e5e5e5;
	}

	.tileList__item:last-child, .tileList__item:nth-last-child(2) {
		border-bottom: 0;	// TODO: not working!!!
	}

	.tileList__item__text {
		margin-left: 130px;
	}

	.tileList__item__icon {
		float: left;
	}
}
